
.btn-primary{
background-color: #3f3f3f;
color:white;
}
.card{
    background-color:white;
    margin:35px;
    padding-top:5px;
    padding-bottom:15px;
    
}

.row{
    margin:25px;
    
}
.text-center{
    background-color: #3f3f3f;
    color:white;
}
body{
    background-color: #ededed;
}
#form-submit{
    margin-left:25px;
    margin-bottom:25px;
}

#first{
    margin-left:37px;
    margin-right:58px;

}
.container2{
    margin-left:20px;
}
